<!DOCTYPE html>
<html lang="en">
<head>
    <title>IAM Key Scanner Report page</title>
    <link rel="stylesheet" type="text/css" href="https://codepen.io/daftkid/pen/ZmKPrK.css">
</head>
<body>
    <div class="wrapper">
        <h1>Report collected for {{ time }}</h1>
        <h3>Parameters:</h3>
        {% for parameter in parameters %}
        <h5>{{ parameter['name'] }} : {{ parameter['value']}}</h5>
        {% endfor %}
    </div>
    <div>
        <table class="report_table">
          <tr>
            <th>#</th>
            <th>Key ID</th>
            <th>User Name</th>
            <th>Date Created</th>
            <th>Key Age (days)</th>
            <th>Status</th>
            <th>Last used</th>
            <th>Recommended Action</th>
          </tr>
            {% for row in data %}
            {% if row['action'] == "Remove"%}
            <tr class="expired">
            {% else %}
            <tr>
            {% endif %}
              <td>
                {{ loop.index }}
              </td>
              <td>
                {{ row['key_id'] }}
              </td>
              <td>
                {{ row['username'] }}
              </td>
              <td>
                {{ row['date_created'] }}
              </td>
              <td>
                {{ row['key_age'] }}
              </td>
              <td>
                {{ row['status'] }}
              </td>
              <td>
                {{ row['last_used'] }}
              </td>
              <td>
                {{ row['action'] }}
              </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
