<!DOCTYPE html>
<html lang="en">
<head>
    <title>IAM Key Scanner Report page</title>
    <link rel="stylesheet" type="text/css" href="https://codepen.io/daftkid/pen/ZmKPrK.css">
</head>
<body>
<h1>Report collected for {{ time }}</h1>
<table class="report_table">
  <tr>
    <th>Key ID</th>
    <th>User Name</th>
    <th>Date Created</th>
    <th>Key Age (days)</th>
    <th>Last used</th>
  </tr>

{% for row in data %}
<tr>
  <td>
    <p>{{ row['key_id'] }} </p>
  </td>
  <td>
    <p>{{ row['username'] }} </p>
  </td>
  <td>
    <p>{{ row['date_created'] }} </p>
  </td>
  <td>
    <p>{{ row['key_age'] }} </p>
  </td>
  <td>
    <p>{{ row['status'] }} </p>
  </td>
</tr>
{% endfor %}

</table>
</body>
</html>
